html, body {
  //overflow: hidden;
  height: 100vh;
}

.k-main {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.k-main-header {
  top: 0;
  width: 100%;

  &.-is-fixed {
    position: fixed;
    z-index: 3;
  }
}
