@import "../variables/all";
@import "../tools/all";

body, button, input, select, textarea {
  font-family: $font-family-base-default;
}

h1, .h1 {
  font-size: $h1Mobile !important;
  font-weight: $font-weight-light;

  @include respond-to(6) {
    font-size: $h1 !important;
  }

  &.-bold {
    font-weight: 500;
  }
}

h2, .h2 {
  font-size: $h2Mobile !important;
  font-weight: $font-weight-light;
  @include respond-to(6) {
    font-size: $h2 !important;
  }
}

h3, .h3 {
  font-size: $h3Mobile !important;
  font-weight: $font-weight-light;
  @include respond-to(6) {
    font-size: $h3 !important;
  }
}

h4, .h4 {
  font-size: $h4 !important;
  font-weight: $font-weight-light;
}

h5, .h5 {
  font-size: $h5 !important;
  font-weight: $font-weight-light;
}

h6, .h6 {
  font-size: $h6 !important;
  font-weight: $font-weight-light;
}

h1, h2, h3, h4, h5, h6,
a, code, p, b, span {

  @each $key-brand, $value-brand in $states-array-brand {
    @each $key, $value in $value-brand {
      $color: nth($value, 1);
      &.is-#{$key}-#{$key-brand} {
        color: $color;
        background-color: transparent !important;
      }
    }
  }

}

.p1 {
  font-size: $p1Mobile !important;
  @include respond-to(6) {
    font-size: $p1 !important;
  }
}

.p2 {
  font-size: $p2Mobile !important;
  @include respond-to(6) {
    font-size: $p2 !important;
  }
}

.p3 {
  font-size: $p3Mobile !important;
  @include respond-to(6) {
    font-size: $p3 !important;
  }
}

.p4 {
  font-size: $p4 !important;
}

.p5 {
  font-size: $p5 !important;
}

.p6 {
  font-size: $p6 !important;
}

.text-small {
  font-size: .8rem;
  font-weight: $font-weight-light;
}

.display-1 {
  font-size: $display1-size !important;
  font-weight: $display1-weight !important;
  line-height: $display-line-height !important;
}

.display-2 {
  font-size: $display2-size !important;
  font-weight: $display2-weight !important;
  line-height: $display-line-height !important;
}

.display-3 {
  font-size: $display3-size !important;
  font-weight: $display3-weight !important;
  line-height: $display-line-height !important;
}

.display-4 {
  font-size: $display4-size !important;
  font-weight: $display4-weight !important;
  line-height: $display-line-height !important;
}

.font-w-light {
  font-weight: $font-weight-light
}

.font-w-normal {
  font-weight: $font-weight-normal
}

.font-w-bold {
  font-weight: $font-weight-bold
}
