.k-balloon {
    display: flex;


    &__content {    

        &::before {
            content: '';
            position: absolute;
            background: #fff;
            padding: 4px;
            left: -5px;
            transform: rotate(45deg);
            border: 1px solid #bbb;
            border-right-color: transparent;
            border-top-color: transparent;
        }
        position: relative;
        border: 1px solid #bbb;
        padding: 15px;
        border-radius: 5px;
        margin-left: 10px; 
    }

    &__avatar {
        width: 50px;
        height: 50px;
    }
}
