.k-carousel {
    overflow: hidden;
    position: relative;
}

.k-carousel-card {
    border: 3px #f3f3f3 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: #f3f3f3;
    padding: 10px;
    width: 50%;
    max-width: 50%;
    text-align: left;
    margin: 0 auto;

    &:hover {
        background-color: #f3f3f3;
        border-color: #f3f3f3;
    }
    img {
        max-width: calc(100%);
        margin: 0 auto;
        display: block;
    }
    &.index {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        line-height: 20px;
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 0 10px;
    }
}

/* #endregion */

/* #region cards slider */
.k-carousel-cards-slider-wrapper {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .k-carousel-card {
        flex: 1;
        min-width: 200px;
        box-shadow: none;
        background-color: white;
        border-color: white;
        transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}

.k-carousel-col {
    min-height: 200px;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 20%;
        height: 120%;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    &:after {
        width: 5%;
        left: auto;
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
    }
}

.k-carousel-cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;
}

.k-carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: transparent;
    border: none;

    &-right {
        right: 0;
    }

    &.left {
        left: 0;
    }

    &:focus{
        outline: none;
    }
}

.k-carousel-dots {
    display: block;
    position: absolute;
    z-index: 1000;

    &-right {
        right: 0;
    }

    &-left {
        left: 0;
    }
}

.k-carousel-dot {
    margin: 0 3px;
    width: 8px;
    height: 8px;
    background-color: #909090;
    border-radius: 100px;
    display: inline-block;

    &-active {
        background-color: #212121;
    }
}
