.k-chat {
    position: relative;
    cursor: pointer;
    background-color:$info; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);
    -moz-box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);
    transition: all 0.2s linear;

    &:hover {
        box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
        -webkit-box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
        -moz-box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
        transform: scale(1.05)
    }

    &__counter {
        position: absolute;
        background-color: $orange;
        font-size: 10px;
        color: #fff;
        z-index: 9;
        padding: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -5px;
    }

    &__img {
        color: #fff;
    }
}