.k-confirm {
  min-height: 165px;
  @include respond-to(4) {
    max-width: 436px;
    min-width: 436px;
    max-height: 242px;
    min-height: 242px;
  }

  & > .k-confirm-body {
    & > .k-confirm-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > .k-confirm-icon {
        display: none;
        @include respond-to(4) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: Nunito Sans, sans-serif;
          font-weight: 900;
          font-size: 22px;
          position: absolute;
          bottom: 190px;
          width: 80%;
        }
      }

      & > .k-confirm-span {
        text-align: center;
        font-family: Nunito Sans, sans-serif;
        font-weight: 900;
        font-size: 18px;
        position: absolute;
        bottom: 120px;
        width: 80%;
        color: #525659;
        @include respond-to(4) {
          font-family: Nunito Sans, sans-serif;
          font-weight: 900;
          font-size: 22px;
          position: absolute;
          bottom: 150px;
        }
      }

      & > .k-confirm-msg {
        text-align: center;
        font-family: Nunito Sans, sans-serif;
        font-size: 15px;
        position: absolute;
        bottom: 70px;
        width: 80%;
        color: #525659;
        @include respond-to(4) {
          font-family: Nunito Sans, sans-serif;
          font-size: 18px;
          position: absolute;
          bottom: 95px;
        }
      }

      & > .k-confirm-question {
        display: none;
        @include respond-to(4) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: Nunito Sans, sans-serif;
          font-size: 18px;
          font-weight: bold;
          position: absolute;
          bottom: 65px;
          width: 100%;
          color: #525659;
        }
      }
    }

    & > .k-confirm-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0;
      border-top: 1px solid #cfcfcf;
      height: 50px;
      position: absolute;
      bottom: 0px;
      width: 100%;

      .nav-link {
        padding: 0;
      }
      & > .k-confirm-yes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: Nunito Sans, sans-serif;
        font-size: 18px;
        @each $brand, $value-brand in $states-array-brand {
          @each $name, $value in $value-brand {
            $color: nth($value, 1);
            $invert-color: nth($value, 2);
            $shadow: nth($value, 3);
            &.is-#{$name}-#{$brand} {
              color: $color;
            }
          }
        }
        border-right: 2px solid #cfcfcf;
        width: 50%;
        height: 100%;
        cursor: pointer;
        @include respond-to(4) {
          font-family: Nunito Sans, sans-serif;
          font-weight: bold;
          font-size: 20px;
        }
      }

      & > .k-confirm-yes:hover {
        background-color: #bebebe !important;
        border-radius: 0px 0px 0px 10px !important;
        margin-right: 0;
      }

      & > .k-confirm-back {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: Nunito Sans, sans-serif;
        font-size: 18px;
        @each $brand, $value-brand in $states-array-brand {
          @each $name, $value in $value-brand {
            $color: nth($value, 1);
            $invert-color: nth($value, 2);
            $shadow: nth($value, 3);
            &.is-#{$name}-#{$brand} {
              color: $color;
            }
          }
        }
        width: 50%;
        height: 100%;
        cursor: pointer;
        @include respond-to(4) {
          font-family: Nunito Sans, sans-serif;
          font-weight: bold;
          font-size: 20px;
        }
      }

      & > .k-confirm-back:hover {
        background-color: #bebebe !important;
        border-radius: 0px 0px 10px 0px !important;
      }
    }
  }
}

.k-confirm-modal {
  margin: 40px;
  @include respond-to(4) {
    margin: auto;
    max-width: 436px;
    min-width: 436px;
    max-height: 242px;
    min-height: 242px;
  }

  & > .modal-content {
    border-radius: 10px !important;
    overflow: unset !important;
  }
}

.k-confir-modal-backdrop {
  opacity: 0 !important;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
