.k-donut{
    width: 119px;
    height: 119px;

    &__hole{
        cx: 21;
        cy: 21;
        r: 15.9155;
        fill: #ffffff;
    }

    &__ring{
        cx: 21;
        cy: 21;
        r: 15.9155;
        fill: transparent;
        stroke: #d2d3d4;
        stroke-width: 3;
    }

    &__segment{
        cx: 21;
        cy: 21;
        r: 15.9155;
        fill: transparent;
        stroke-width: 3;
        stroke-dashoffset: 25;
    }

    &__center{
        text-align: center;
        position: relative;
        bottom: 82px;
        left:15px;
        width: 90px;
        height: 80px;
        font-size: 11px;

        & svg{
            margin: 2px;
        }
    }
    &__points p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        width: 90px;
        line-height: 11px;
        font-size: 11px;
        color: #707070;
    }
    &__indicator{
        width: 129px;
        height: 129px;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        bottom: 205px;
        right: 5px;

        &::after{
            content: '';
            position: absolute;
            left: calc(50% - 2px);
            background: #fe1a15;
            width: 2px;
            height: 20px;
            border-radius: 1.5rem;
            opacity: 1;

        }
    }
}

