.k-drawer {
  z-index: 999;
  position: absolute;
  width: 0 !important;
  height: 100vh;
  top: 0;
  overflow: hidden;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &.-is-showDrawer {
    width: 100% !important;
    background-color: rgba(119, 119, 119, 0.71);

  }

  &.-to-right {
    right: 0;

    &.-is-hide {
      right: -300px;
    }
  }

  & > .k-drawer-container {
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: #FFF;
    overflow-y: scroll;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &.-to-left {
      left: 0;

      &.-is-hide {
        left: -300px;
      }
    }

    &.-to-right {
      right: 0;

      &.-is-hide {
        right: -300px;
      }
    }

    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);
        &.is-#{$name}-#{$brand} {
          &::-webkit-scrollbar-thumb:hover {
            background: $color;
          }
          &::-webkit-scrollbar-thumb:active {
            background: $color;
          }
        }
      }
    }

    &:hover {
      overflow-y: scroll;
    }

    &:focus {
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: #7d97ad;
      border: 0 none #ffffff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #666666;
      border: 0 none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track:hover {
      background: #666666;
    }

    &::-webkit-scrollbar-track:active {
      background: #333333;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

  }
}
