.k-dropdown {
  $self: &;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

  &__content-wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10%);
    transition: all 1s;
    pointer-events: none;

    &.expanded {
      top: 30px;
      visibility: visible;

      pointer-events: all;
      opacity: 1;
      transform: translate(0);

      & > .k-dropdown__content {
        & > .k-select-list {
          & > .list-group-item {
            &:focus {
              box-shadow: none;
              border: 2px solid;
            }
            &:active {
              color: #212529;
              background-color: #e9ecef;
              box-shadow: none;
            }
            &:hover {
              border-color: rgba(10, 10, 10, 0.125);
            }
          }
        }
      }
    }

  }
}
