.k-dropzone {

  $self: &;
  &__titleNoBold {
    letter-spacing: 0.5px;
    color: #0185CD;
    font-size: 16px;
    font-weight: normal;
  }
  &__drop-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 65px;
    border-width: 3px;
    border-color: #999;
    border-style: dashed;
    background-color: #edf1f5;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    border-radius: 5px;

    &.is-active {
      border-color: #2a88d9;
    }
  }

  &__drop-area-file {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 65px;
    border-width: 3px;
    border-color: #999;
    border-style: dashed;
    background-color: #edf1f5;
    color: #0185CD;
    outline: none;
    transition: border .24s ease-in-out;
    border-radius: 5px;

    &.is-active {
      border-color: #2a88d9;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    font-size: 16px;

    svg {
      margin-right: 5px;
    }
    span {
      margin-left: 5px;
    }
  }

  &__highlight {
    color: #2a88d9;
    font-weight: bold;
    margin-left: 5px;
  }

  &__title {
    font-size: 0.9rem !important;
    font-weight: bold;
  }

  &__file-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__file-teacher {
    display: flex;
    justify-content: space-between;
  }

  &__file {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;

    &:hover {
      #{$self}__file-name {
        button {
          display: block;
        }
      }

      #{$self}__status-text {
        display: flex;
      }
    }
  }

  &__file-name {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
    padding: 6px 30px 6px 20px;
    background: #f1f1f1;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9rem;
    position: relative;

    button {
      position: absolute;
      right: 10px;
      top: calc(50% - 10px);
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
    }
  }

  &__status-text {
    align-items: center;
    color: #2a88d9;
    margin-left: 5px;
  }

  &__invalid-files {
    margin-bottom: 15px;
  }

  &__error {
    display: flex;
    &>.text-error{
      margin-left: 5px;
      font-size: 14px;
      color: #BC3206;
    }
    margin-top: 8px;
    align-items: center;
  }

  &__messageAccept{
    padding-top: 10px;
    font-size: 12px !important;
    font-weight: 100;
    color: #666666;
  }


}
