.kguided-tour-float-baloon {
  background-color: #0153a5 !important;
  color: #FFF !important;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 10px !important;
  padding: 12px 15px !important;
  max-width: 385px;

  & > div {
    justify-content: flex-end;

    & > button {
      height: 30px;
      width: 80px;
      margin-left: 0 !important;

      & > span {
        height: 30px !important;
        width: 80px !important;

        & > div {
          height: 30px !important;
          width: 80px !important;
        }
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    width: 0;
    height: 0;
  }
  &-container {
    position: relative;
  }
  &-close-btn-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-title {
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  &-description {
    margin-top: 20px;
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  &-close-footer-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-step-indicator {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
  &-controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    &:only-child {
      margin-left: auto;
    }
  }
  &-prev-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 13px;

    &.disabled {
      cursor: not-allowed;
    }
  }
  &-next-btn {
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #FFF;
    color: #0153a5;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
  }
}
