.k-header {
  max-height: 56px;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  align-content: center;
  padding-bottom: 0;
  padding-top: 0;
  height: 56px;
  width: 100%;

  &.--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
  }

  & > .container {
    margin: 0;
    padding: 0;
    max-width: none;

    & > .row {
      justify-content: space-between;

      & > .icon-menu {
        align-items: center;
        display: inline-grid;
        padding-left: 15px;
        padding-right: 0;
      }

      & > .logo {
        padding-right: 0;
        text-align: left;
        padding-left: 15px;
      }

      & > .logoMobile {
        padding: 0;
        text-align: center;
        align-self: center;
      }

      & > .bodyRight {
        text-align: end;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      & > .bodyMiddle {
        align-self: center;
      }
    }
  }

  .nav-logo.nav-link {
    display: inline-block;
    padding: 0;
  }

}
