.k-chip-input {
  [contentEditable=true]:empty:before{
    content:attr(placeholder);
    color: #666666;
    font-size: 14px;
    font-weight: normal;
  }
  &.buttonIsOff {
    //padding: 6px 16px 6px 16px;
    border: 1px solid #A0AABE;
    //border-radius: 10px;
    border-radius: 5px;
    &:focus-within {
      border-color: #0185CD;
    }
  }

  & > .content-editable {
    cursor: text;
    justify-content: space-between;
    & > .col-button {
      background-color: #EEF7FB;
      padding: 6px 16px 6px 16px;
      max-width: 41px;
      border-radius: 0 5px 5px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      //display: flex;

      //&.icon-bottom {
      //  align-self: flex-end;
      //  max-width: 50px;
      //  display: flex;
      //  justify-content: flex-start;
      //}

    }

    &.buttonIsOff {
      //padding: 6px 16px 6px 16px;
      border: 1px solid #A0AABE;
      border-radius: 5px;
      &:focus-within {
        border-color: #0185CD;
      }
    }

    & > .col-text {
      display: inline-block;
      padding: 6px 16px 6px 16px;
      &:focus {
        outline: none
      }
      &.message {
        min-width:100%;
        display: inline-block;
      }
      & > .group-chip {
        padding: 0 8px 0 0;
        display: inline-flex;
      }
      & > .group-label {
        &:focus {
          outline: none
        }
      }
      &.more-one-line{
        align-self: flex-start;
      }

      &.type-message{
        display: inline-block;
        padding: 6px 0 6px 16px;
        max-width: 80%;
        min-width: 93%;
        @include respond-to(2) {
          max-width: 80%;
        }
        @include respond-to(4) {
          max-width: 80%;
        }
        @include respond-to(6) {
          max-width: 90%;
        }
        @include respond-to(8) {
          max-width: 93%;
        }
      }
    }
  }

  & > .container-buttons {
    padding: 8px 0 0 0;

    & > .row-button {
      &.buttonRight {
        justify-content: flex-end;
      }

      &.buttonLeft {
        justify-content: flex-start;

      }

      & > .group-buttons {
        &.block {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
        }

        & > button {
          margin-right: 8px;
          margin-bottom: 8px;
          min-width: 80px;
        }

        &.disabled {
          & > button {
            color: #D6D6D6;
          }
        }
      }
    }
  }
}
.icon-disabled{
  opacity: 0.5 ;
  cursor: default !important;
}
