.k-menu-list {
  .k-dropdown {
    &__content-wrapper {
      &.expanded {
        top: 25px !important;
        @include respond-to(4) {
          top: 36px !important;
        }
      }
    }
  }

  .k-menu-list-group {
    margin-top: 8px;
    text-align: center;
    min-width: 112px;
    @include respond-to(4) {
      min-width: 156px;
    }
    & > a {
      & > li {
        list-style-type: none;
      }
    }
  }
}
