.k-message-list {
  max-height: 110px;

  &__container {
    width: 100%;
    display: inline-flex;
    height: 110px;
    cursor: pointer;
    padding: 20px;
    @each $brand, $value-brand in $states-array-brand {

      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);

        &.is-#{$name}-#{$brand} {
          border-color: $color !important;
          &.is_active {
            background-color: $shadow;
            border-left: solid 4px;
            //background: #edf4ff;
          }

          &:hover {
            background-color: $shadow;
            //background: #edf4ff;
          }
        }
      }
    }
  }

  &__avatar {
    width: 15%;
    max-width: 15%;
    min-width: 15%;
    display: flex;
    justify-content: flex-start;

    &.is-responsive {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    justify-content: flex-start;
    h2 {
      font-size: 14px !important;
      font-family: Nunito Sans,sans-serif ;
      letter-spacing: 0;
      color: #666666;
    }
    h3 {
    font-size: 13px !important;
    font-family: Nunito Sans, sans-serif;
    letter-spacing: 0;
    color: #7d97ad;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 180px;
    @include respond-to(4) {
      max-width: 99%;
     }
    }
  }

  &__middle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .badge {
      visibility: hidden;
      @include respond-to(4) {
        visibility: visible;
        }
    }
    .msg-title {
      font-size: 18px !important;
      font-family: Nunito Sans, sans-serif;
      letter-spacing: 0;
      color: #666666;
      padding-right: 10px;
      overflow: hidden;
      display: -webkit-box;
      margin-left: 0;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-wrap: break-word;

      &.is_new {
        color: #0185cd;
        font: Bold 18px Nunito Sans, sans-serif;
        padding-right: 10px;
      }
    }
  }
  &__preview {
    display: inline-flex;
    .previewMessage {
      width: 99%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 14px;
      height: 40px;
    }
  }
  &__date {
    min-width: 25%;
    width: 25%;
    max-width: 25%;
    text-align: end;
    display: inline-flex;
    justify-content: flex-end;
    & > svg {
      color: #A0AABE;
      margin-right: 10px;
    }
    .badgeMobile {
      visibility: visible;
      @include respond-to(4) {
        visibility: hidden;
      }
    }
    h3 {
      font-size: 11px !important;
      font-family: Nunito Sans, sans-serif;
      letter-spacing: 0;
      color: #7d97ad;
      max-width: 120px;
      @include respond-to(4) {
       max-width: 100%;
       font-size: 12px !important;
     }
    }

    .k-messageria-badge {
      position: relative;
      top: 22px;
      //left: 26px;
    }
  }
}
