.k-mail-message {
  margin: 0;
  display: flex;
  flex-direction: column;
  & > .k-mail-message-header {
    display: flex;
    flex-direction: column;
    margin: 20px 35px 0 35px;
    & > .k-mail-message-header-title {
      font-family: "Nunito San", sans-serif;
      @media (max-width: 992px) {
        margin: 0;
      }
    }
    & > .k-mail-message-header-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8px;
      @media (max-width: 992px) {
        flex-direction: column;
        margin-top: 0;
      }
      & > .k-mail-message-header-info-avatar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 260px;
        margin-right: 35px;
        @media (max-width: 992px) {
          margin-top: 8px;
        }
        & > .k-avatar_mail {
          margin-right: 8px;
        }
        & > .k-mail-message-header-info-avatar-author {
          font-family: "Nunito San", sans-serif;
        }
      }
      & > .k-mail-message-header-info-disciplina {
        max-width: 260px;
        color: #7d97ad;
        font-family: "Nunito San", sans-serif;
        @media (max-width: 992px) {
          margin-top: 8px;
        }
        & > b {
          font-family: "Nunito San", sans-serif;
          color: #7d97ad;
          margin-right: 4px;
        }
      }
      & > .k-mail-message-header-info-date {
        max-width: 260px;
        color: #7d97ad;
        font-family: "Nunito San", sans-serif;
        @media (max-width: 992px) {
          margin: 8px 0 8px 0;
          font-size: 10px !important;
        }
      }
    }
    @media (max-width: 992px) {
      & > .k-mail-message-header-info :nth-child(1) {
        order: 2;
      }
      & > .k-mail-message-header-info :nth-child(2) {
        order: 3;
      }
      & > .k-mail-message-header-info :nth-child(3) {
        order: 1;
      }
    }
  }
  & > .k-mail-message-divider {
    margin: 0;
    & > .upload {
      margin-left: 35px;

      & > span {
        padding-right: 10px;


        & > span {
          margin-bottom: 10px;
          padding: 5px 15px 5px 5px !important;
          & > div {
            & > div {
              font-size: 15px;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
  & > .k-mail-message-content {
    margin: 0 35px 35px 35px;
    & > *, p, span, div {
      color: #666666;
      font-size: 14px;
      font-family: "Nunito Sans", sans-serif;
    }
  }
}
