.k-menu-list {
  .k-dropdown {
    &__content-wrapper {
      &.expanded {
        top: 40px !important;
        @include respond-to(4) {
        top: 40px !important;
        }
      }
    }
  }
    .k-menu-list-group {
    margin-top: 8px;
    text-align: center;
    //min-width: 100px;
    @include respond-to(4) {
      //min-width: 135px;
    } 
  }
}

.k-filter_button{
  display:inline-flex;
  cursor: pointer;
  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
        &.is-#{$name}-#{$brand} {
          color: $color;
        }
          &__text{
          //color: #0185CD;
          width: 100%;
           display: none;
           @include respond-to(4) {
           display:block;
           }
          }

          &__icon{flex:1;}

          &__mobile{
           //color: #0185CD;
          display: block;
           @include respond-to(4){
           display: none;}
          }
        }
      }
    }        
 

