.k-messageria-tutor {
  
  &.is-active {
    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);

        &.is-#{$name}-#{$brand} {
          background-color: $shadow;
        }
      }
    }
  }

  &__container {
    display: inline-flex;
    width: 100%;
  }

  &__left-wrapper{
    margin-right: 8px;
  }

  &__title-wrapper {
    min-width: 144.44px;
    max-width: 144.44px;

    h1 {
      font-size: 14px !important;
      font-weight: 600;
      font-family: "Nunito Sans", serif;
      padding: 7px 0 3px 0;
      min-width: 100%;
      margin: 0;
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);

          &.is-#{$name}-#{$brand} {
            
            &.is-active {
              color: $color;
            }

            &:hover & {
              color: $color;
            }
          }
        }
      }
    }

    h2 {
      font-size: 13px !important;
      padding: 0 0;
      line-height: 20px;
      margin: 0;
    }
  }

  &__icon-wrapper {
    width: 100%;
    padding: 0;
    margin: 3px;
    align-items: center;
    justify-content: center;
    color: #404040;
    position: relative;

    & .iconposition{
      right: 0px;
      position: absolute;
    }

    &.is-active & {
      display: flex;
    }
  }
}
