
.modal-content {
  border-radius: 10px !important;
  border: 1px solid #CCC;
  overflow: hidden;
}

.modal-content-container {
  max-height: 80vh;
  overflow-y: auto;
  display: inline-block;


  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #7d97ad;
    border: 0 none #ffffff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }

  &::-webkit-scrollbar-track:active {
    background: #333333;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.k-modal-backdrop {
opacity: 0 !important;
}

