.k-question {
  .radio-content * {
    font-family: "Nunito San", sans-serif !important;
    font-size: 14px !important;
    color: rgb(119, 119, 119) !important;
  }
  & > .card-body > .image-container-button-action {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 26px);
    height: 75px;
    background-color: #EDEDED;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;

    & > p {
      font-size: 18px;
      font-weight: bold;
      padding-right: 10px;
      width: 85%;

      @media (max-width: 992px) {
        font-size: 14px;
      }
      @media (max-width: 576px) {
        font-size: 12px;
      }
      @media (max-width: 320px) {
        font-size: 11px;
      }
    }
    & > .k-button {
      font-weight: bold;
      border-width: 2px;
      max-width: 110px;

      @media (max-width: 768px) {
        font-size: 10px !important;
        max-width: 75px;
      }
    }
  }
}
.k-question-zoom-image-modal {
  height: 75vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.k-question-zoom-image-modal-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  & > .react-transform-component {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    & > .react-transform-element {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;

      & > .k-question-zoom-image-modal-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        position: absolute;

        &.is-active {
          opacity: 1;
          display: flex;
        }

        & > img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
  }

  & > .k-question-zoom-image-modal-image-paginator {
    &-prev {
      position: absolute;
      left: 0;
    }
    &-next {
      position: absolute;
      right: 0;
    }
  }

  & > .k-question-zoom-image-modal-controls {
    background-color: #FFF;
    position: fixed;
    bottom: 5vh;
    width: 180px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border: 1px solid #E4E4E4;
    border-radius: 5px;

    & > .k-button {
      color: transparent;
      background-color: transparent;
      border-color: transparent;

      & > .k-icon {
        &.fa-minus-circle {
          width: 44px;
          height: 44px;
        }
        &.fa-plus-circle {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}
