.k-rating-bar {
  
  display: flex;
   
  &__circle {
    margin: 5px;
    background-color: #fff;
    border: solid 1px silver;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    & p{
      font-size: 12px;
    }
  }

  &__icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
    .k-icon.fa-1x {
      font-size: .75rem;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;

    & p {
      font-size: 12px;
      line-height: 1rem;
    }
  }

  &__indicator {
    background-color: #ff0000;
    position: relative;
    top: 13px;
    width: 2px;
    height: 16px;
    border-radius: .5rem;
  } 

  &__none {
    background-color: none;
    position: relative;
    top: 13px;
    width: 2px;
    height: 16px;
    border-radius: .5rem;
  } 

  .wrap {
    flex-wrap: wrap;
  }

  .k-Progress-Bar {
    height:10px !important;
    margin-bottom:8px !important;
  }
    
}
