.k-select{
  & > .k-dropdown {
    width: 100%;

    &> .k-dropdown__content-wrapper {
      overflow-y: auto;
    }
    & > div > .k-inputtext-container > .k-inputtext {
      border-radius: 5px !important;
      padding-left: 0;
      padding-right: 0;
    }
    & > div > div > div > .input-group-append{
      padding: 0;
    }
  }

  &.required {
    & > div {
      & > div {
        & > div {
          & > div {
            border-bottom-color: #BC3206 !important;
            border-bottom-width: 2px !important;
          }
        }
      }
    }
  }

  & > .error {
    display: flex;
    margin-top: 8px;
    align-items: center;
    & > svg {
      color: #BC3206;
      font-size: 14px !important;
    }
    & > .text {
      margin-left: 5px;
      color: #BC3206;
      font-size: 14px;
    }
  }
}
