.k-tabs {
  width: 100%;
  overflow: hidden;

  .k-tab-item {
    width: 100%;

    &.-item-show {

      &.-next {
        animation-name: slideInRight;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      &.-previous {
        animation-name: slideInLeft;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }
    }

    &.-item-hide {
      display: none;
    }
  }
}
