.k-thumbnail {
  display: flex;
  position: relative;

  &.is-responsive {
    width: 100%;
    height: auto;
  }

  &.is-responsive-height {
    width: auto;
    height: 100%;
  }
}

.k-thumbnail-button-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.k-thumbnail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 3px;
  opacity: 1;

  &.clickable {
    cursor: pointer;
  }

  &.has-animation {
    transition: all 250ms ease-in-out;

    &:hover {
      opacity: .75;
      transform: scale(1.1);
    }
  }
}
