.k-toast {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 80px;

  & > .toast {
    width: 0;
    max-width: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 0;
    opacity: 0;
    transition: all 500ms;
  }

  .show {
    opacity: 1;
    width: 100%;
    height: 60px;
    transition: all 500ms;
  }

  .toast-body {
    width: 100%;
    max-width: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .toast-body-container {
    width: 100%;
    display: flex;
    flex-direction: row
  }

  .toast-body-content-left {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .toast-body-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    @media (max-width: 320px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .toast-body-content-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }

  .toast-body-content-right {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }


  @each $brand, $value-brand in $states-array-brand {
    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);
      &.is-#{$name}-#{$brand} {
        .k-icon {
          color: $invert-color;
        }

        & > .toast {
          color: $invert-color;
          background: $color;
          @if $name == gradient {
            border: none;
          }
        }
      }
    }
  }
}
