.k-tree-subitem {
  $self: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 52px;

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);

        &.is-#{$name}-#{$brand} {
          background-color: $shadow;
        }
      }
    }
  }

  &__container {
    display: inline-flex;
  }

  &__percent-inline {
    align-items: center;
    display: inline-flex;

    #{ $self }__percent-item-text {
      justify-content: center;
      align-self: center;
      align-content: center;

      p {
        padding-left: 15px;
        align-items: flex-start;
        margin-bottom: 0;
        font-size: 12px;
      }
    }
  }

  &__indicator-wrapper {
    min-width: 30.16px;

    h3 {
      font-size: 12px !important;
      font-weight: 600;
      font-family: "Nunito Sans", serif;
      padding: 6.5px;
      margin: 0;
      max-width: 15%;
      background-color: "#DDD";
      color: #404040;
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);

          &.is-#{$name}-#{$brand} {
            color: #404040;

            &.is-active {
              color: $color;
            }

            #{ $self }:hover & {
              color: $color;
            }
          }
        }
      }
    }
  }

  &__lefticon-wrapper {
    min-width: 30.16px;
    padding: 2px 7px;
    margin-right: 9px;

    h3 {
      font-size: 12px !important;
      font-weight: 600;
      padding: 6.5px;
      margin: 0;
      max-width: 15%;
      background-color: "#DDD";
      color: #404040;
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);

          &.is-#{$name}-#{$brand} {
            color: #404040;

            &.is-active {
              color: $color;
            }

            #{ $self }:hover & {
              color: $color;
            }
          }
        }
      }
    }
  }

  &__title-wrapper {
    min-width: 144.44px;

    h1 {
      font-size: 12px !important;
      font-weight: 600;
      font-family: "Nunito Sans", serif;
      padding: 7px 0;
      min-width: 100%;
      margin: 0;
      color: #404040;
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);

          &.is-#{$name}-#{$brand} {
            color: #404040;

            &.is-active {
              color: $color;
            }

            #{ $self }:hover & {
              color: $color;
            }
          }
        }
      }
    }

    h2 {
      font-size: 13px !important;
      padding: 7px;
      padding-top: 0;
      margin: 0;
    }
  }

  &__icon-wrapper {
    width: 62px;
    padding: 0;
    margin: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: #404040;

    #{ $self }.is-active & {
      display: flex;
    }
  }
}
