.k-tree-item {
  $self: &;
  //display: -webkit-box;
  //display: -moz-box;
  //display: -ms-flexbox;
  //display: -webkit-flex;
  //display: flex;
  -webkit-flex-flow: row;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer !important;
  width: 100%;
  max-width: 100%;
  border-width: 0;
  padding: 0;

  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        border-color: $color;
      }
    }
  }

  &.cockpit-li {
    padding-left: 3px;
    &.cockpit-li:hover{
      padding-left: 0px;
    }
  }

  &.messageria{
    min-height: 46px;


    @each $brand, $value-brand in $states-array-brand {

      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);

        &.is-#{$name}-#{$brand} {
          .messageria-block-active {
            background-color: $shadow;
          }
          &:hover {
            background-color: $shadow;
            border-left: 'solid';
          }
          .k-tree-item-list.cockpit-block-active {
            background-color: $shadow;
          }
        }

      }
    }

    .k-tree-item-list {
      padding-left: 31px;
      margin-top: 1px;

      h1 {
        font-weight: bold !important;
      }
    }

    .messageria-icon{
      background: none !important;
    }
  }

}

.is-active {
  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        background-color: $shadow;
      }
    }
  }
}

.k-tree-item-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 96px;
  align-items: center;
  padding: 10px;
  border-bottom-style: solid;
  border-color: #EFEFEF;

  &.baseline {
    align-items: baseline;
  }

  &.session {
    height: auto;
    & > .k-tree-session {
      overflow: auto !important;
      height: 100% !important;

      &.indicator-wrapper {
        min-width: 30.16px;

       & > h3 {
          font-size: 12px !important;
          font-weight: 600;
          font-family: "Nunito Sans", serif;
          padding: 6.5px;
          margin: 0;
          max-width: 15%;
          background-color: "#DDD";
          color: #404040;
         &.true {
           @each $brand, $value-brand in $states-array-brand {
             @each $name, $value in $value-brand {
               $color: nth($value, 1);
               $invert-color: nth($value, 2);
               $shadow: nth($value, 3);

               &.is-#{$name}-#{$brand} {
                 color: $color;
                 font-weight: 600;
               }
             }
           }
         }
        }
      }
    }
    &:hover {
      & > div {

        & > h3 {
          @each $brand, $value-brand in $states-array-brand {

            @each $name, $value in $value-brand {
              $color: nth($value, 1);
              $invert-color: nth($value, 2);
              $shadow: nth($value, 3);

              &.is-#{$name}-#{$brand} {
                color: $color;
              }
            }
          }
        }
        & > p {
          @each $brand, $value-brand in $states-array-brand {

            @each $name, $value in $value-brand {
              $color: nth($value, 1);
              $invert-color: nth($value, 2);
              $shadow: nth($value, 3);

              &.has-#{$name}-#{$brand} {
                color: $color;
              }
            }
          }
        }
      }
    }
  }

  &.cockpit {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 46px;
  }

  &.messageria{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 46px;
  }

}

.messageria{
  min-height: 46px;
  border-bottom-style: none;
}

.cockpit {
  min-height: 46px;
  border-bottom-style: none;

  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        .cockpit-block-active {
          background-color: $shadow;

          & > div {
            & > div {
              font-weight: bold !important;
              background-color: $shadow !important;
              & > a {
                height: auto;
                border: none
              }
            }
          }

        }
        &:hover {
          background-color: $shadow;
          border-left: 'solid';
          border-left-width: 3px !important;
        }
        .k-tree-item-list.cockpit-block-active {
          background-color: $shadow;
            & > div {
              & > div {
                font-weight: bold !important;
                background-color: $shadow !important;
                & > a {
                  height: auto;
                  border: none
                }
              }
          }
        }
      }

    }
  }

  .k-tree-item-list {
    padding-left: 31px;
    h1 {
      font-weight: bold !important;
    }
  }
}


.k-tree-item-icon {
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.no-border{
    border:none;

  }
  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        background: $color;
      }
    }
  }
}

.cockpit-icon{
  background: none !important;
}

.k-tree-item-list {
  overflow: hidden;
  width: 100%;
}

.k-tree-item-list-expand {
  margin-top: -200%;
  transition: all 1s;
}

.k-tree-item-list-expand.expanded {
  margin-top: 0;
}

.title-container {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

  &.start {
    justify-content: flex-start !important;
  }
}
.pipe {
  border-left: 1px solid #D8E1EA;
  height: auto;
}

.title-session {
  font-size: 12px!important;
  font-family: "Nunito Sans",serif;
  min-width: 100%;
  margin: 0;
  font-weight: normal;
}

.cockpit-title {
  padding-left: 0;
    p {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: bold;
  }
}

.messageria-title {
  width: 100%;
  padding-left: 10px;
  flex-direction: row;
    p {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: bold;

    &.center-align{
      display: inline-flex;
      align-items: center;
      align-content: center;
      margin-right: 5px;
      width:100%;
    }
  }
}

p {
  margin-bottom: 0;
  color: #404040;
  font-family: 'Nunito Sans', serif;
  font-size: 13px;
  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        color: $color;
        font-weight: 600;
      }
    }
  }
}
