.k-avatar_mail {
  border-radius: 100%;
  border: 1px solid #0185CD;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito Sans, sans-serif;
  overflow: hidden;

  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        border-color: $color !important; 
        color: $color;

      }
    }
  }
}
