.k-bookmark {
  position: relative;

  & > .bookmark-icon {
    position: absolute;
    right: 30px;
    top: -8px;
    @media (max-width: 576px) {
      right: 15px;
    }

    &.-is-hide {
      display: none;
    }
  }
}
