.k-button {
  @each $brand, $value-brand in $states-array-brand {
    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      //@each $color, $value in $theme-colors {
      //  .btn-#{$color} {
      //    @include button-variant($value, $value);
      //  }
      //}


      &.is-#{$name}-#{$brand} {
        //@include button-variant($color, $color);

        color: $invert-color;

        @if $name == "gradient" {
          background: $color;
          border: none;
        } @else {
          background-color: $color;
          border-color: $color;
        }

        &:hover {
          box-shadow: 0 0 0 0.1rem $shadow;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $shadow;
        }

        &:active {
          border-color: $color;
          box-shadow: 0 0 0 0.2rem $shadow;

          &:focus {
            box-shadow: 0 0 0 0.2rem $shadow;
          }
        }

        &.is-disabled {
          pointer-events: none;
          &:hover {
            border-color: transparent;
            box-shadow: none;
          }
        }

        &.is-iconBackground {
          display: flex;
          align-items: center;
          color: $color;
          background-color: transparent;
          border: none;

          svg {
            color: $color;
            background-color:#EDF4FF;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            padding: 9px;
          }
        }


        &.is-outlined {
          color: $color;
          background-color: transparent;
          border-color: $color;

          &:active {
            color: $invert-color;
            background-color: $color;
            border-color: $color;
            box-shadow: 0 0 0 0.2rem $shadow;

            &:focus {
              box-shadow: 0 0 0 0.2rem $shadow;
            }
          }

          & > svg {
            color: $color;
            background-color: transparent;
            border-color: $color;
          }
        }

        &.not-radius {
          border-radius: unset !important;
          height: 75px;
          font-weight: 600 !important;
          }

        &.not-border {
          color: $color;
          background-color: transparent;
          border-color: transparent;

          &:focus {
            box-shadow: none;
            color: $color;
            font-weight: bold;
            background-color: transparent;
            border-color: transparent;
          }

          &:active {
            color: $color;
            font-weight: bold;
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;

            &:focus {
              box-shadow: none !important;
            }
          }

          &:hover {
            border-color: transparent;
            box-shadow: none;
          }
        }

        &.is-menu {
          min-width: 112px;
          height: 24px;
          border-radius: 10px;
          font-family: Open Sans, sans-serif;
          font-size: 15px;
          padding-top: 0px;
          @include respond-to(4) {
            padding-top: 6px;
            min-width: 156px;
            height: 36px;
            font-size: 16px;
          }
        }
      }
    }
  }

  &.is-transparent {
    border: 0 !important;
    background-color: transparent !important;

    &:active {
      outline: 0 !important;
    }

    &:focus {
      outline: 0 !important;
    }
  }
}
