.k-card {
  display: flex;

  &.hide-border {
    border: none;
  }

  &.hasMicroContent {
    padding: 0;
    overflow: hidden;
  }

  &.has-shadow {
    box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);
    -moz-box-shadow: 2px 2px 5px 1px rgba(116, 136, 157, 0.3);

    &:hover {
      &.has-hover {
        box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
        -webkit-box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
        -moz-box-shadow: 5px 5px 12px 1px rgba(116, 136, 157, 0.3);
      }

      &.has-zoom {
        transform: scale(1.005)
      }
    }
  }

  & > .hasMicroContent {
    padding: 0;
    overflow: hidden;
    display: grid;
  }

  .subtitle {
    padding-bottom: 16px;
  }
}

