$chip-y-spacing: 15px;
$chip-x-spacing: 5px;
$chip-button-width: $chip-y-spacing + $chip-x-spacing * 2;
$chip-border-radius: 15px;
$chip-background: #555;
$chip-color: #fff;
$chip-min-height: 36px;

.k-chips {
  user-select: none;
  @each $brand, $value-brand in $states-array-brand {
    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);
      &.is-#{$name}-#{$brand} {
        color: $invert-color;

        & > .chip-value {
          display: inline-flex;
          padding: 0 8px 0 8px;
          background: $color;
          border-color: $color;
          color: $invert-color;
          font-weight: bold;
          & > .labels {
            padding: 5px 15px 5px 5px !important;
            & > .text {
              font-size: 15px;
              font-weight: lighter;
            }
            & > .sub-title {
              text-transform: uppercase;
              color: rgba(102, 102, 102, 0.7);
              opacity: 1;
              font-size: 12px;
            }
          }

          &.sub-text {
            overflow-wrap: break-word;
            display: block;
          }
          &.hasRadius {
            border-radius: $chip-border-radius;
          }

          & > .chip-delete-button {
            background: transparent;
            color: $invert-color;
            border: 0;
          }
          & > .icon {
            display: inline-flex;
            padding: 0 0 0 8px;
            align-items: center;
          }
          & > .icon-left {
            padding: 0 8px 0 0;
            align-items: center;
            display: flex;
          }
          &.outlined {
            border: 1px solid $color;
            background-color: transparent;
            color: $color;
            word-break: break-all;
            line-height: 16px;
          }
          &.colorBorder {
            border: 1px solid;
            background-color: transparent;
            padding: 0 8px 0 8px;
          }
        }

        @if $name == "gradient" {
          background: $color;
          &.hasRadius {
            border-radius: $chip-border-radius;
            padding: 0 8px 0 8px;
          }
        } @else {
          background-color: $color;
          border-color: $color;
          border-radius: $chip-border-radius;
        }
      }
    }
  }
  &.hover {
    &:hover {
      cursor: pointer
    }
  }
  &.default {
    & > .chip-value {
      display: inline-flex;
      background: transparent;
      font-weight: bold;
      &.hasRadius {
        border-radius: $chip-border-radius;
      }
      & > .chip-delete-button {
        background: transparent;
        border: 0;
      }

      & > .icon {
        display: inline-flex;
        padding: 8px;
        align-items: center;
      }
      &.outlined {
        border: 1px solid;
        background-color: transparent;
        padding: 0 8px 0 8px;
      }
      &.colorBorder {
        border: 1px solid;
        padding: 0 8px 0 8px;
      }
    }
  }

}
