.k-collapse {
  overflow: hidden;
  width: 100%;
  $self: &;
  display: inline-block;
  margin: 0;
  padding: 0;

  &__content-wrapper {
    margin-top: -1000%;

    &.expanded {
      margin-top: 0;
    }
  }
}
