.k-icon {
  transition: all 500ms ease-out;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  @each $brand, $value-brand in $states-array-brand {
    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);
      &:not(.has-color) {
        &.is-#{$name}-#{$brand} {
          color: $color;
        }
      }

      &.is-clickable {
        &:hover {
          cursor: pointer;
        }
      }

      &.rotate-icon {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }
      &.rotate-icon-180 {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
      }

      &.is-hover {
        &:hover {
          &.is-#{$name}-#{$brand} {
            opacity: 0.3;
          }

          &.has-color {
            &.is-#{$name}-#{$brand} {
              opacity: 1;
              color: $color;
            }
          }
        }
      }
    }
  }
}
