.k-inputtext-container {
  width: 100%;
  transition: all 1000ms linear;
  .k-inputtext-container-underline-placeholder {
    padding-top: 5px;
    transition: all 1000ms linear;
    opacity: 0;
    display: none;
    &.focused {
      display: flex;
      opacity: 1;
    }
  }
}

.k-inputtext {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  align-items: center;
  display: inline-flex;

  &.sm {
    height: 31px;
  }

  &.md {
    height: 38px;
  }

  &.lg {
    height: 48px;
  }

  &::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
  }
  &::placeholder { /* Recent browsers */
    text-transform: none;
  }
}

.k-inputtext input {
  border: 0;
}

.form-control:focus {
  box-shadow: none;
}

.input-group {
  align-items: center;
}

.input-group-prepend {
  align-content: center;
  align-items: center;
  padding: 0.4em 1em;
  display: inline;

  &.is-clickable {
    &:hover {
      cursor: pointer;
    }
  }
}

.input-group-append {
  align-content: center;
  align-items: center;
  padding: 0.4em;
  display: inline;

  &.error {
    padding: 0.4em 0 0.4em 1em;
  }

  &.is-clickable {
    &:hover {
      cursor: pointer;
    }
  }
}
