.k-menu-item {
  $self: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 52px;

  &.is-active {
    min-height: 92px;
    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);
        &.is-#{$name}-#{$brand} {
          border-left: solid 5px $color;
          color: $color !important;
        }
      }
    }
  }

  &.is-highlight {
    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);
        &.is-#{$name}-#{$brand} {
          color: $color !important;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);
        &.is-#{$name}-#{$brand} {
          background-color: $shadow;
        }
      }
    }
  }

  &__title-wrapper {
    h1 {
      font-size: 14px !important;
      font-weight: 600;
      padding: 7px;
      margin: 0;
    }

    h2 {
      font-size: 12px !important;
      padding: 0 7px 7px;
      margin: 0;
      color: #000000 !important;
    }
  }

  &__icon-wrapper {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hasBorder {
      border-radius: 50px;
      background-color: #F7F7F7;
      min-height: 35px;
      min-width: 35px;
    }

    #{ $self }.is-active & {
      color: #2bc773;
    }

    #{ $self }:hover & {
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);
          &.is-#{$name}-#{$brand} {
            color: $color;
          }
        }
      }
    }

    #{ $self }.is-active:hover & {
      color: #2bc773;
    }
  }
}
