.k-messageria-badge {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;

  & .item{

    @each $brand, $value-brand in $states-array-brand {
      @each $name, $value in $value-brand {
        $color: nth($value, 1);
        $invert-color: nth($value, 2);
        $shadow: nth($value, 3);

        &.is-#{$name}-#{$brand} {
          background-color: $shadow;
        }
      }
    }

    & p.internalText{
      font-size: 12;
      font-weight: bold; 
      color: #0185CD;

      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);
  
          &.is-#{$name}-#{$brand} {
            color: $color;
          }
        }
      }
    }
  }
}

.center {
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  align-self: center;
  display: inline-flex;
}

.topLeft {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}
