.k-option {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;

  &.has-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 5px 5px 5px 15px;
  }

  &.is-bold {
    font-weight: bold;
  }

  &.is-radio {
    &.has-border {
      border: 1px solid #7D97AD;
      padding: 10px 10px 10px 15px;
      border-radius: 10px;
      @each $brand, $value-brand in $states-array-brand {
        @each $name, $value in $value-brand {
          $color: nth($value, 1);
          $invert-color: nth($value, 2);
          $shadow: nth($value, 3);
          &.is-#{$name}-#{$brand} {
            background-color: $shadow !important;
          }
        }
      }
    }
  }

  &.is-block {
    display: list-item;
  }

  &-content {
    display: flex;
    align-items: center;

    & > .radio-content {
      margin-left: 10px;

      li, ul {
        color: #404040;
        font-family: 'Nunito Sans', serif;
        display: initial;
        font-size: 13px;
      }
    }
  }

  @each $brand, $value-brand in $states-array-brand {
    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);
      &.is-#{$name}-#{$brand} * {
        color: $color !important;
        & > .radio-content * {
          color: $color !important;
        }
      }
      &.is-#{$name}-#{$brand} {
        color: $color !important;
        & > .radio-content {
          color: $color !important;
        }
      }
    }
  }
}
