.k-Progress-Bar {

  background-color: #DDDDDD;
  border-radius: 0;

  &.--sm {
    height: 8px;
  }

  &.--medium {
    height: 16px;
  }

  &.--lg {
    height: 24px;
  }

  &.--is-round {
    border-radius: 0.50rem;

    & > div {
      border-radius: 0.50rem;
    }
  }

  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {

        color: $invert-color;
        background-color: $grey-lighter;
        border-color: $color;

        & > div {
          @if $name == 'gradient' {
            background: $color;
            border: none;
          } @else {
            background-color: $color !important;
          }
        }

      }
    }
  }
}
