.k-spinner {
  display: inline-flex;

  &.--spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;

  }

  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      $invert-color: nth($value, 2);
      $shadow: nth($value, 3);

      &.is-#{$name}-#{$brand} {
        color: $color !important;
      }
    }
  }
}

