.k-tag {
  padding: 3px 7px 2px 7px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: inline-block;
  min-width: 97px;
  max-height: 21px;
}
