.k-text-area {
  @include respond-to(6) {
    padding: 16px 30px 16px 30px;
    border: 1px solid #A0AABE;
    border-radius: 10px;
    color: #666666;
    &:focus-within {
      outline: none;
      border: 1px solid #0072CE;
    }
    &.--one-line {
      padding: 0 16px 0 16px;
    }
  }

  & > .group-text-area {
    margin:0;
    max-width: none;
    & > .row-text-area {
      display: grid;
      @include respond-to(6) {
        display: flex;
        justify-content: space-between;
      }
      & > .group-text {
        border: none;
        display: inline-grid;
        resize: none;
        outline: none;
        padding: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        margin-bottom: 8px;
        @include respond-to(6) {
          margin-bottom: 0;
        }

          & > .text {
          padding: 16px 30px 16px 30px;
          display: inline-grid;
          border-radius: 10px;
          resize: none;
          overflow-y: hidden;

          &:focus {
            outline: none;
            border: 1px solid #0072CE;
            border-radius: 10px;
          }

          &.--one-line {
            padding: 6px 16px 6px 16px;
            height: 36px;
            margin: 3px 1px 1px 1px;
          }

          @include respond-to(6) {
            display: flex;
            padding: 0;
            border: none;
            outline: none;
            &:focus {
              outline: none;
              border: none;
            }
          }
        }
      }

      & > .container-buttons {
        display: inline-flex;
        justify-content: flex-end;
        & > .disabled {
          & > button {
            color: #D6D6D6;
          }
        }
        & > .group-icon {
          & > button {
            min-width: 80px;
            margin-left: 8px;
          }

          &.--more-one-line {
            align-self: flex-end;
          }

          @include respond-to(6) {
            align-self: center;
            &.--more-one-line {
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}
