.k-text {
  padding: 3px 7px 2px 7px;
  text-align: center;
  display: inline-block;
  margin: 15px;
  @each $brand, $value-brand in $states-array-brand {

    @each $name, $value in $value-brand {
      $color: nth($value, 1);
      &:not(.has-color) {
        &.is-#{$name}-#{$brand} {
          color: $color;
        }
      }
    }
  }
}
