.rsg--logo-5{
  h1{
    font-size: 14pt !important;
    color: #FFF;
    font-weight: bold;
  }
}

.rsg--item-37 {
  a:hover {
    text-decoration: underline;
  }
}

.rsg--list-29 {
  & > .rsg--li-31 {
    & > a {
      color: blue;
      text-decoration: underline;
    }
  }
}

.rsg--para-24 {
  & > a {
    color: blue !important;
    text-decoration: underline !important;
  }
}


.rsg--link-26 {
  color: #333;
}

footer[class^="rsg--footer"]{
  display: none !important;
}

div[class^="rsg--sidebar"] ul ul[class^="rsg--list"] {
  display: none;
  opacity: 0;
}

div[class^="rsg--sidebar"] .vueds-active > ul {
  opacity: 1!important;
  display: block!important;
}

li ul.ul-active-block{
  opacity: 1!important;
  display: block!important;
}

li a[href*="/#/Componentes/components"],
li a[href*="/#/Componentes/atoms"],
li a[href*="/#/Componentes/molecules"],
li a[href*="/#/Componentes/Molecules/v-slider-nav"],
li a[href*="/#/Componentes/Molecules/v-slider-pagination"] {
  display: none !important;
}


.k-manager-components-status {
  font-weight: 500;
  line-height: 1.6;
  color: #000;
  margin-bottom: 16px;
  font-style: normal;

  .status-list {
    margin: 0 0 16px;
    overflow: hidden;
    padding: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    @media (max-width: 1000px) {
      display: block;
    }
    li {
      margin: 0 24px 0 0;
      color: rgb(127, 136, 145);
      align-items: center;
      display: flex;
      @media (max-width: 1000px) {
        width: 50%;
        float: left;
        margin: 0;
      }
    }
  }
  @media (max-width: 1000px) {
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  thead th {
    padding: 8px;
    background: hsl(201, 99%, 40%);
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    z-index: 9;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  tr {
    border-bottom: 1px solid #dfe3e6;
    &:last-child {
      border: 0;
    }
  }
  td {
    font-size: 16px;
    padding: 13px;
    &:first-child {
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
